<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <title>Notes</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="{% url 'simple_note' %}">Create New</a>
    <a href="{% url 'note_list' %}">Notes</a>
    <a href="#">Syncronizer</a>
    <a href="#">Archive</a>
    <a href="{% url 'FAQs' %}">FAQs</a>
    <a href="{% url 'editprofile' %}">Settings</a>
    <button class="buttonbatton" onclick="goBack()">←</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    {% csrf_token %} 
    <div class="search-container">
      <form action="{% url 'search_results' %}" method="get">
        <input type="text" class="inputSearch"placeholder="Search" name="q">
        <button type="submit" class="SerachButton">Find</button>
      </form>
    </div>
  </div>
  {% block content %} 
      <center><h2 class="text">Notes</h2>
      <div class="row">
        {% for note in notes %}
        <div class="column">
            <div class="card">
              <div class="card-image">
              <form method="POST">
                {% csrf_token %}
                <div class="button-container">
                <button type="submit" class="buttonDelete" name="note_id" value="{{ note.id }}"></button>
                <button type="submit" class="buttonArchive"></button>
                </div>
              </form>
            </div>
              <div class="card-content">
                <li class="post">
                    <h2 class="post-title">{{ note.name|slice:"18" }}
                      {% if note.text|length > 18 %}&hellip;{% endif %}
                    </h2>
                    {% if note.slug %}
                    <form method="GET" action="{% url 'view_note' simple_note_slug=note.slug %}">
                      <button type="submit" class="buttonOpen1">Open</button>
                  </form>
                  {% endif %}
                    <p class="post-date">Save on {{ note.time_update }}</p>
            </div>
          </div>
        </div>
  {% empty %}
      <p>No notes yet.</p>
        {% endfor %}
  <div class="pagination">
  {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}
      <span class="current-page">{{ page_obj.number }}</span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
      {% endif %}
    </div>{% endblock %}</center>
</body>
</html>

<style>
  body {
    font-family: 'Andale Mono', monospace;
  }
  .text {
    font-family: 'Andale Mono', monospace;
  }

</style>