{% extends 'main/note_list.html' %}
{% block title %}Simple Note{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" novalidate=""> 
        <input type="hidden" name="csrfmiddlewaretoken" value="Zk0XErY5GSfrrq8Sz8F861cse65xXtLhEkFFMURrgCcJO8ROccH5WsdBPFcSDD4A"> 
        <link href="/static/django_ckeditor_5/dist/styles.css" media="all" rel="stylesheet">
<script src="/static/django_ckeditor_5/dist/bundle.js"></script>
    {% csrf_token %} 
        <div class="form-group">
            <div>
                <label for="id_name" class="text-dark">
                </label>
            </div>
            <center><textarea type="text" name="name" style="width: 1025px; height: 593px;" placeholder="Write your note here" class="type-2" maxlength="50" required="" id="id_name"></textarea><center>
        </div>
        <div class="form-group">
            <div>
                <label for="id_text" class="text-dark" style="float: none;">
                </label>
            </div>
        </div>
        <!-- {{ form.media }}
        {{ form.as_p }} -->
        </div>
            <input type="submit" name="create_button" class="button12" value="Create">
    </form>
</div>
<style>
    .ck-editor__editable {
      width: 50%;
      height: 200px;
      margin: 0 auto;
      background-color: #faf9f7;
      color: #333;
    }

    .ck.ck-toolbar {
      width: 50%;
      height: 40px;
      margin: 10px auto;
      background-color: #faf9f7;
      color: #666;
    }
    </style>
{% endblock %}
