{% extends 'main/note_list.html' %}
{% block title %}Note View{% endblock %}
{% block content %}
{% csrf_token %} 
<div class="form-group">
    <div>
        <label for="id_name" class="text-dark">
        </label>
    </div>
    <center><input type="text" name="name" placeholder="Note:" class="type-2" maxlength="50" required="" id="id_name">{{simple_note.name}}</center>
  </div>
  <div class="form-group">
    <div>
        <label for="id_text" class="text-dark" style="float: none;">
        </label>
    </div>
  
  <h1>{{notes.name}}</h1>
  <h2>{{notes.text}}</h2>
  
  {% if simple_note.photo %}
  <p><img class="img-article-left" src="{{simple_note.photo.url}}"></p>
  {% endif %}
  
  {{simple_note.content|linebreaks}}
  <h1>Edit Note</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
