{% extends 'main/note_list.html' %}
{% load static %}
{% block title %}Note View{% endblock %}
{% block content %}
{% csrf_token %}
{% block js %}
<script>src="{% static 'main/js/note_edit.js' %}"></script>
{% endblock %}
<center>
<div class="row_in">
    <div class="card_in">
        <div class="card-content_in">
            <li class="post">
                <div id="noteContainer">
                    {% if not editing %}
                        <h2 class="post-title" id="type-2">{{ simple_note.name }}</h2>
                        <button class="buttonSave" onclick="editNote()">Edit</button>
                    {% endif %}
                </div>
                <form method="post" style="display: none;" id="editForm">
                    {% csrf_token %}
                    <input type="text" name="name" id="editName" class="type-2" value="{{ simple_note.name }}">
                    {{ form.text }}
                    <button type="submit" class="buttonSave" onclick="saveNote()">Save</button>
                </form>
                <p class="post-date">Save on {{ simple_note.time_update }}</p>
            </li>
        </div>
    </div>
</div>
</center>
{% endblock %}