{% extends 'main/note_list.html' %}
{% block title %}Note View{% endblock %}
{% block content %}
{% csrf_token %} 
<div class="row_in">
        <div class="card_in">
          <div class="card-content_in">
            <li class="post">
                <h2 class="post-title">{{ simple_note.name }}</h2>
                <div class="post-date">{{ simple_note.text }}</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="buttonSave">Save</button>
                  </form>
                  <p class="post-date">Save on {{ simple_note.time_update }}</p>
            </li>
        </div>
    </div>
</div>

  <style>
    .post-date {
        margin-top: 10px; 
    }

    .buttonSave {
        font-size: 24px;
        background-color: #faf9f7;
        color: rgb(0, 0, 0);
        border: 0;
        border-radius: 4px;
        width: 250px;
        margin: 0 auto;
        display: block;
        margin-top:500px;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
      }
      .buttonSave:hover {
        background-color: #ffffff; 
        color: rgb(0, 0, 0);
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
        text-decoration: none;
      }

    .row_in {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        margin: 60px;
    }
    
    .card_in {
        border: 1px solid #efefef;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        transition: all .3s ease;
        border-radius: 4px;
        width: 100%;
        height: 700px;
      }
      
      .card_in:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      
      .card_in-content {
        padding: 0 20px;
      }
      
      
      .card_in-content .fa, span {
          font-size: 80%;
      }
      
      .card_in h2 {
        padding-top: 40px;
        color: #1e2c42;
        font-size: 160%;
        line-height: 1.2;
      }
      
      .card_in p {
        color: #666666;
      }
      
    </style>
    
{% endblock %}