<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
</head>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2022 Sol inc</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url 'login' %} " class="nav-link px-2 text-muted">Back to login</a></li>
        <li class="nav-item"><a href="{% url 'FAQs' %}" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="{% url 'sol' %}" class="nav-link px-2 text-muted">Control panel</a></li>
      </ul>
    </footer>
  </div>
<body>