<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link href="https://www.oracle.com/asset/web/css/redwood-base.css" rel="stylesheet">
    <link href="https://www.oracle.com/asset/web/css/redwood-styles.css" rel="stylesheet">
    <link href="/mysite/main/static/main/css/style.css" type="text/css" rel="stylesheet">
</head>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Sol inc</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'login' %} " class="nav-link px-2 text-muted">Sign in</a></li>
    </ul>
  </footer>
</div>
<div><a name="GENERAL-BOOKMARK"></a></div>
<h2><center>The Solien</center></h2>
<h4><center>Managing your local mini databases</center></h4>
<p class="bullet"> 
</p>
<center><a class="button" href="{% url 'login' %}" >Sign in</a></center>
<footer class="py-5">
  <footer class="py-5">
    <footer class="py-5">
      <footer class="py-5">
        <footer class="py-5">
          <footer class="py-5">
            <footer class="py-5">
              <h3></h3>
            </footer>
          </footer>
        </footer>
      </footer>
    </footer>
  </footer>
<div class="container">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top ">
      <p>© 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
      
    </div>
  </footer>
</div>
</main>
</form>
</body>
</html> 