{% extends "main/index.html" %}
{% block content %}
<footer class="py-5">
</footer>
  <center><span class="txt2">Welcome</span></center>
  <span class="login100-form-avatar">
    <img src="" alt="">
    </span>
<center>
    <div class="login-form"></div>
      <form action="/accounts/login" method="post">
        <p>
        <input class="type-2" type="text" placeholder="Login" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      </p>
      <p>
        <input class="type-2" type="password" placeholder="Password" name="password" autocomplete="current-password" required="" id="id_password">     
      </p>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
        <p><input class="button1" type="submit" value="Sign-in"></p>  
      </form></center>
    </footer>
  </div>
  </main>
  </form>
{% endblock %}

