<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Единый вход в систему Sol</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link href="https://www.oracle.com/asset/web/css/redwood-base.css" rel="stylesheet">
    <link href="https://www.oracle.com/asset/web/css/redwood-styles.css" rel="stylesheet">
    <link href="/mysite/main/static/main/css/style.css" type="text/css" rel="stylesheet">
</head>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2022 Solien inc</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url 'login' %} " class="nav-link px-2 text-muted">Re-login</a></li>
      </ul>
    </footer>
  </div>
  <body style="background-image: url(media/backgound-white.jpg)">
  </body>
  <center><span class="login100-form-title p-b-70">Welcome</span></center>
  <span class="login100-form-avatar">
    <img src="" alt="">
    </span>
<center>
    <div class="login-form"></div>
      <form action="/main/login" method="post">
        <p>
        <label for="id_username">Login:</label>
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      </p>
      <p>
        <label for="id_password">Password:</label>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">     
      </p>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="enter"></p>  
      </form></center>
  <style>
    label{
        cursor: pointer;
        display: inline-block;
        padding: 3px 6px;
        text-align: right;
        width: 100px;
        vertical-align: top;
    }
    input{
        font-size: inherit;
    }
a{
color: rgb(136, 136, 136);
}
a:hover{
text-decoration: none;
}
</style>
</footer>
</div>
</main>
</form>
</body>
</html> 
