<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css"/>
</head>
<span class "d" style="position: absolute; left: -2001px; width: 2001px;">author's bug</span>
<div class="container">
  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Solien </p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'login' %}" class="nav-link px-2 text-muted">Log-in</a></li>
      <li class="nav-item"><a href="{% url 'registration_form' %}" class="nav-link px-2 text-muted">Sign-up</a></li>
    </ul>
  </footer>
</div>
<div><a name="GENERAL-BOOKMARK"></a></div>
{% block content %}
<footer class="py-5">
</footer>
  <center><span class="txt2">Welcome</span></center>
  <span class="login100-form-avatar">
    <img src="" alt="">
    </span>
<center>
    <div class="login-form"></div>
      <form action="/accounts/login" method="post">
        <p>
        <input class="type-2" type="text" placeholder="Login" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      </p>
      <p>
        <input class="type-2" type="password" placeholder="Password" name="password" autocomplete="current-password" required="" id="id_password">     
      </p>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
        <p><input class="button1" type="submit" value="Join"></p>  
      </form></center>
</footer>
</div>
</main>
</form>
</body>
</html> 
{% endblock %}
</body>
</html>
