{% extends "registration/login.html" %}
{% load static %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}">
{% endblock %}
{% block content %}
<center> <main class="main container">
    <div class="main__header">
        <h1 class="txt2">Registration</h1>
    </div>
    <div class="form-container">
		<form class="form" method="post" >
			{% csrf_token %}
				{% for field in form %}
						<div class="form__field-group">
							<div class="p-t-31 p-b-9">
								<label for="id_{{ field.name }}" class="txt1">
									{{ field.label_tag }}
								</label>
						<input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="id_{{ field.name }}" class="type-2">
						</div>
					</div>
				{% endfor %}
				<button type="submit" class="button1">Create account</button>
		</form>
    </div>
  </main>
</center>
{% endblock %}
