{% extends "main/control_panel.html"%}
{% block title %}Log-in{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
    <h1>Settings</h1>
    <p>You can edit your account using the following form:</p>
<form  method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    <button type="submit">Upload</button>
{{ user_form.as_p }}
{{ profile_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Save changes"></p>
{% endblock %}

