{% extends "base.html" %}
{% block title %} {{ page_title }} {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
<div><a name="GENERAL-BOOKMARK"></a></div>
<footer class="py-5">
</footer>
<h1><center>The Solien</center></h1>
<h5><center>Service for everyone</center></h5>
<footer class="py-5">
</footer>
<h5><center>Create and manage your personal notes</center></h5>
<p class="bullet"> 
</p>
<a class="button12" href="{% url 'auth_login' %}" ><center>Join</center></a>
{% endblock %}
</div>
</main>
</form>
</body>
</html> 