<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet">
    <title>My Note</title>
</head>
<body>


  <!--h1>List Notes#</h1>
  <ul class="post-list">
    {% for post in posts %}
      <li class="post">
        <h2 class="post-title">{{ post.name }}</h2>

        <p class="post-content">{{ post.text }}</p>
        <p class="post-date">Posted on {{ post.time_create|date }}</p>
      </li>
    {% empty %}
      <p>No posts yet.</p>
    {% endfor %}
  </ul-->


  <div class="topnav">
    <a class="active" href="{% url 'control_panel' %}">Control Panel</a>
    <a href="{% url 'editprofile' %}">Settings</a>
    <a href="{% url 'login' %}">Re-Login</a>
    
    <button class="button2" onclick="goBack()">←</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <div class="search-container">
      <form action="{% url 'search_results' %}" method="get">
        <input type="text" placeholder="Search my note" name="q">
        <button type="submit" class="SerachButton">Find</button>
      </form>
    </div>
  </div>
  {% block content %}
      <div class="sidenav">
        <a class="LeftPanelButton" href="{% url 'simple_note' %}">Create New</a>
        <a class="LeftPanelButton" href="{% url 'edit_note' %}">Change</a>
        <a class="LeftPanelButton" href="#about">Basket</a>
        <a class="LeftPanelButton" href="{% url 'archive' %}">Archive</a>
        <a class="LeftPanelButton" href="#about"></a>
        <a class="LeftPanelButton" href="#about"></a>
      </div>   
      <div>
        <center><h2 class="text">My Notes</h2></center>
       <center> <table class="table">
          <thead>
      {% load django_tables2 %}
      {% render_table table %}
          </thead>
      </table></center>
      </div>
      {% endblock %}
</body>
</html>