<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <title>My Note</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="{% url 'control_panel' %}">Control Panel</a>
    <a href="{% url 'editprofile' %}">Settings</a>
    <a href="{% url 'login' %}">Re-Login</a>
    
    <button class="buttonbatton" onclick="goBack()">←</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    <div class="search-container">
      <form action="{% url 'search_results' %}" method="get">
        <input type="text" placeholder="Search my note" name="q">
        <button type="submit" class="SerachButton">Find</button>
      </form>
    </div>
  </div>
  {% block content %}
      <!--div class="sidenav">
        <a class="LeftPanelButton" href="{% url 'simple_note' %}">Create New</a>
        <a class="LeftPanelButton" href="#tool">Basket</a>
        <a class="LeftPanelButton" href="">Archive</a>
        <a class="LeftPanelButton" href="#tool"></a>
        <a class="LeftPanelButton" href="#tool"></a>
      </div-->   
      <center><h2 class="text">My Notes</h2></center>
      <a class="linkontable" href="{% url 'mynote_table' %}">All note</a>
      <div class="row">
        {% for post in posts %}
        <div class="column">
            <div class="card">
        <div class="card-content">
          <li class="post">
            <h2 class="post-title">{{ post.name }}</h2>
            <p class="post-content">{{ post.text }}</p>
            <p class="post-date">Save on {{ post.time_create|date }}</p>
          </li>
        <a class="buttonB" href="#">Open</a>
            </div>
        </div>
        </div>
        {% empty %}
          <p>No notes yet.</p>
          {% endfor %}
      {% endblock %}
</body>
</html>