<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <title>My Note</title>
</head>


  <body>


  <div class="topnav">
    <a class="active" href="{% url 'control_panel' %}">Control Panel</a>
    <a href="{% url 'editprofile' %}">Settings</a>
    <a href="{% url 'login' %}">Re-Login</a>
    <div class="search-container">
      <form action="{% url 'mynote' %}" method="get">
        <input type="text" placeholder="Search.." name="q">
        <button type="submit" class="SerachButton">Submit</button>
      </form>
    </div>
  </div>
      <div class="sidenav">
        <a class="LeftPanelButton" href="#about">About</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
        <a class="LeftPanelButton" href="#about">#tool#</a>
      </div>
      
      <div>
        <table class="table">
      {% load django_tables2 %}
      {% render_table table %}
      </table>
      </div>
</body>
</html>