<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/mode.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'main/images/icons/icon3.png' %}" type="image/png"/>
    <title>My Note</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="{% url 'control_panel' %}">Control Panel</a>
    <a href="{% url 'editprofile' %}">Settings</a>
    <a href="{% url 'login' %}">Re-Login</a>
    
    <button class="buttonbatton" onclick="goBack()">←</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
     {% csrf_token %} 
    <div class="search-container">
      <form action="{% url 'search_results' %}" method="get">
        <input type="text" placeholder="Search my note" name="q">
        <button type="submit" class="SerachButton">Find</button>
      </form>
    </div>
  </div>
  {% block content %} 
      <center><h2 class="text">My Notes</h2></center>
      <div class="row">
        {% for note in notes %}
        <div class="column">
            <div class="card">
              <div class="card-content">
                <li class="post">
                    <h2 class="post-title">{{ note.name }}</h2>
                    <!--p class="post-content">{{ post.text }}</p-->
                    <p class="post-date">Save on {{ note.time_update }}</p>
                  </li>
                  <a class="buttonB" href="{% url 'view_note' slug=note.slug %}">Open</a>
            </div>
          </div>
        </div>
  {% empty %}
      <p>No notes yet.</p>
        {% endfor %}
  {% endblock %}
  <div class="pagination">
  {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}
      <span class="current-page">{{ page_obj.number }}</span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
      {% endif %}
    </div>
</body>
</html>