{% extends 'main/note_list.html' %}
{% block title %}Simple Note{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" novalidate> 
        {% csrf_token %} 
        {{ form.media}}
        {% for field in form %}
        <div class="form-group">
            <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
            {{ field }}
        </div>
        {% endfor %}
            <input type="submit" name="create_button" class="button" value="Create" />
    </form>
</div>
{% endblock %}
