{% extends "base.html" %}
{% load static %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/form.css" %}">
{% endblock %}
{% block content %}
  <main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}

            <div class="form__group">
                <label for="id_{{ form.old_password.name }}" class="form__label">
                    Старый пароль
                </label>
                <div class="form__field-group">
                    <input type="password" name="{{ form.old_password.name }}" id="id_old_password" class="form__input">
                    <span class="form__error">
                        {{ form.old_password.errors }}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_{{ form.new_password1.name }}" class="form__label">
                    Новый пароль
                </label>
                <div class="form__field-group">
                    <input type="password" name="{{ form.new_password1.name }}" id="id_new_password1" class="form__input">
                      <span class="form__input-info">{{ form.new_password1.help_text }}.</span>
                    <span class="form__error">
                    {{ form.new_password1.errors }}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_{{ form.new_password2.name }}" class="form__label">
                    Подтверждение нового пароля
                </label>
                <div class="form__field-group">
                    <input type="password" name="{{ form.new_password2.name }}" id="id_new_password2" class="form__input">
                    <span class="form__error">
                        {{ form.new_password2.errors }}
                    </span>
                </div>

            </div>
            <span class="form__error">
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            </span>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Изменить пароль</button>
            </div>
        </form>
    </div>
  </main>
{% endblock %}
