body {
  font-family: "Lato", sans-serif;
  background-color: #faf9f7
}

.sidenav {
  height: 100%;
  width: 135px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  background-color: #1e2c42;
  overflow-x: hidden;
  padding-top: 18px;
}

.sidenav a {
  padding: 0px 15px 14px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #1e2c42;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {box-sizing: border-box;}
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #1e2c42; 
/* 1f262e */
/* 181b1e */ 
/* 1d232c */
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eee;
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #030303;
  color: rgb(253, 253, 253);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1 rgb(0, 0, 0)
  /* border: none; */
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 30px;
  background: #1e2c42;
  font-size: 17px;
  border: 1 black;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #000000;  
  }
}


.SerachButton {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 20px;
  color: rgb(118, 118, 118);
  border: 2px solid #767676;
  background-image: url(main/static/main/images/free-icon-magnifier-2319177.png);
  border-radius: 5px;
  width: 56px;
  margin: 0 auto;
  display: block;
  background-repeat : no-repeat;
}
.SerachButton:hover {
  background-color: #000000; 
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.LeftPanelButton {
  font-size: 15px;
  background-color: #faf9f7;
  color: rgb(0, 0, 0);
  border: 7px solid #1e2c42;
  border-radius: 10px;
  width: 134px;
  margin: 0 auto;
  display: block;
  font-family:serif;
  font-style:inherit;
}
.LeftPanelButton:hover {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* .text{
  font-size: xx-large;
  font-family: fantasy;
} */

.text {
  font-family: Montserrat-SemiBold;
  font-size: 30px;
  color: #555;
  line-height: 1.5;
}


.table {
	width: 60%;
	margin-bottom: 0px;
	border-collapse: collapse; 
 
  justify-content: right;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}


.button {
  font-size: 35px;
  background-color: #faf9f7;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  border-radius: 4px;
  width: 250px;
  margin: 0 auto;
  display: block;
}
.button:hover {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  text-decoration: underline;
}


.buttonbatton {
  -webkit-transition-duration: 0.05s; 
  transition-duration: 0.05s;
  border-radius: 4px;
  font-size: 22px;
  background-color: #1e2c42;
  float: right;
  margin-top:  9px;
  margin-right: 18px;
  border: 1px #ccc;
  cursor: pointer;
  padding: 4px;
}

.buttonbatton:hover {
  background-color: #ccc; 
  color: rgb(0, 0, 0);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 95%;
}

.row {

  display:flex; /* включение технологии flexbox */
  /* flex-direction:row;колонки в ряду */
 /* justify-content:end;колонки в центре контейнера */
 /* flex-wrap:wrap-reverse; держать колонки в ряду */
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  margin: 0px;
}

.column {
  display: flex;  /* display: flex; одинаковая высота колонок */ 
  /*width: 30%; /* ширина одной колонки */
  padding: 4px;
  border-radius: 12px;
}

.card {
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.card-content {
  padding: 0 20px;
}

a {
  color: #444444;
  text-decoration: none;
  transition: all .3s ease; 
}

.card-content .fa, span {
    font-size: 80%;
}

.card h2 {
  padding-top: 80px;
  color: #1e2c42;
  font-size: 160%;
  line-height: 1.2;
}

.card p {
  margin: 20px 0 30px;
  color: #666666;
    
}

.buttonB {
  display: block;
  background: #a7c1cf;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
 }
 
 .buttonB:hover, .button:focus {
    background: #1e2c42;
}

@media screen and (max-width: 640px) {
  .row {
  flex-direction: column; 
    flex-wrap: wrap; 
}
  .column {
    width: 100%; 
    margin-bottom: 20px;
  }
}

.linkontable{
  display: right;
  background: #a7c1cf;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 100px 64px 68px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  max-width: 770px;
  width: 100%;
}



.left-chapters {
	margin: 0;
	background: #eee;
	border-right: 1px solid #ccc;
	min-height: 100%;
}
.left-chapters ul {
	width: 230px;
	min-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #999;
}
.left-chapters ul li.selected {color: #0059b2; }
.left-chapters ul li a {
	color: #444;
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #CC0000; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}
.left-chapters ul li.share a.share-yt {
	width: 100%;
	height: 30px;
	background: url('../images/share_yt.png') no-repeat 0 0
}
.left-chapters ul li.share a.share-yt:hover {
	width: 100%;
	height: 30px;
	background: url('../images/share_yt.png') no-repeat 0 -30px
}


.inputSearch{
  border-radius: 5px;
  background: #1e2c42;
}

.button12 {
  font-size: 35px;
  background-color: #faf9f7;
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 4px;
  width: 250px;
  margin: 0 auto;
  display: block;
  margin-top:55px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.button12:hover {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  text-decoration: underline;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  text-decoration: none;
}

.type-2 {
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
  display:block;
  width:25%;
  margin: 37px 0;
  padding:10px;
  border-radius:6px;
}
.type-2:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

