{% extends "base.html" %}
{% load static %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/form.css" %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url "auth_password_reset" %}">
            {% csrf_token %}
            {% for field in form %}
                <p class="form__info-text">
                    {{ field.help_text }}
                </p>
                <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    <label for="{{ field.id_for_label }}" class="form__label">
                        {{ field.label }}{% if field.field.required %}<span class="required"></span>
                        {% endif %}</label>
                    <div class="form__field-group">
                        {% comment %} {{ field|addclass:"form__input" }} {% endcomment %}
                        <input type="email" name="email" id="id_email" class="form__input">
                        {% if msg %}
                            <span class="form__error">{{ msg }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        <div class="form__footer">
        <button class="button button_style_blue">Сбросить пароль</button>
        </form>
    </div>
</main>

{% endblock %}
