body {
  font-family: "Lato", sans-serif;
  background-color: #faf9f7
}

.sidenav {
  height: 100%;
  width: 135px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  background-color: #1e2c42;
  overflow-x: hidden;
  padding-top: 18px;
}

.sidenav a {
  padding: 0px 15px 14px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #1e2c42;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {box-sizing: border-box;}
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #1e2c42;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eee;
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #030303;
  color: rgb(253, 253, 253);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #000000;  
  }
}


.SerachButton {
  font-size: 20px;
  background-color: #faf9f7;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  border-radius: 4px;
  width: 104px;
  margin: 0 auto;
  display: block;
}
.SerachButton:hover {
  background-color: #ffffff; 
  color: rgb(255, 255, 255);
  text-decoration: underline;
}


.LeftPanelButton {
  font-size: 15px;
  background-color: #faf9f7;
  color: rgb(0, 0, 0);
  border: 7px solid #1e2c42;
  border-radius: 10px;
  width: 134px;
  margin: 0 auto;
  display: block;
  font-family:serif;
  font-style:inherit;
}
.LeftPanelButton:hover {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.text{
  font-size: xx-large;
  font-family: fantasy;
}


.table {
	width: 60%;
	margin-bottom: 0px;
	border-collapse: collapse; 
 
  justify-content: right;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}

.button {
  font-size: 35px;
  background-color: #faf9f7;
  color: rgb(255, 255, 255);
  border: 2px solid #000000;
  border-radius: 4px;
  width: 250px;
  margin: 0 auto;
  display: block;
}
.button:hover {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  text-decoration: underline;
}









/* 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 150%;
  position: fixed;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: 3px solid #1e2c42;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #161616;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #1e2c42;
  background: #1e2c42;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap {
  width: 17%;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
}




ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  overflow: hidden;
  background-color: #1e2c42;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffffff;
  text-align: right;
  padding: 15px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #999999;
}


