.container{
    width: 450px;
    height: 500px;
    background-color: #fff;
    margin: 250px auto 0 auto;
    text-align: center;
}

.button {
    font-size: 35px;
    background-color: #faf9f7;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 4px;
    width: 250px;
    margin: 0 auto;
    display: block;
}
.button:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #faf9f7
  }
  
